
body::-webkit-scrollbar {
  display: none;
}


body,
html {
  font-family: KR-M, monospace, sans-serif;
  font-weight: Bold;
  font-size: 14px;
  color: var(--fg);
  margin: 0;
  padding: 0;
  zoom: normal;
}

p {
  display: block;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

a,
span.url,
a:visited {
  color: var(--ic);
}

span.icon {
  width: 20px;
  height: 20px;
  opacity: 0.8;
  color: var(--ic);
}

li {
  list-style-type: square;
  list-style-position: outside;
  margin-left: 1.3em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.67rem;
  word-break: keep-all;
  margin-top: 0em !important;
}

h3 {
  font-size: 1rem;
}

em {
  color: var(--f3);
  opacity: .7;
}

blockquote {
  margin-bottom: 1em;
}

strong {
  font-weight: 700;
}


.section {
  margin-bottom: 1rem;
}

#profiles .item {
  padding: 0;
}

#header {

  #contact,
  #profiles {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    justify-content: center;
    justify-items: center;
    width: max-content;
    margin: auto;
  }

  color: var(--f2);

  span.image {
    outline: solid 10px var(--xgg);
    outline-offset: 6px;
    padding: 10px;
    margin: 0 20px;
    justify-self: end;
    border-radius: 40%;
    background-color: var(--xgg);
    backdrop-filter: contrast(94%);

    >img {
      width: 60px;
      opacity: .9;
    }
  }

  h1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    color: var(--ix);
    align-items: center;
    font-size: 3.8rem;
    margin-bottom: .6em;
    padding-left: 1em;
    text-shadow:
      var(--zk3) 2px 1px,
      var(--zk5) 4px 3px,
      var(--zk7) 6px 5px,
      var(--zk9) 8px 7px;
  }


  span.icon {
    color: var(--pk7);
  }

  .username {
    width: max-content;
  }

  .location.username {
    width: 100%;
    display: grid;
    justify-content: center;
  }

  .label {
    background-color: var(--xgg);
    backdrop-filter: blur(var(--blur));
    border-radius: 2em;
    margin: 2em 1em;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2em;
    justify-items: middle;
    align-items: center;

    &>span>img {
      width: 9pc;
      height: 9pc;
      margin: auto;
      border: solid 1pc var(--xgg);
      backdrop-filter: contrast(90%);
      border-radius: 3em;
      opacity: .8;
    }
  }
}

section.contacts span.url {
  align-items: center;
  margin: 4px;
}

section.main-summary {
  margin: auto;
  width: 180mm;
  font-size: 12px;
  letter-spacing: -.2px;
  text-wrap: balance;
  padding: 2em 2em;
  margin-bottom: 2em;
  background: var(--xgg);
  border-radius: var(--brl);
  backdrop-filter: blur(var(--blur));

  >ul>li {
    list-style: none;

    &:before {
      content: '―';

    }
  }
}

section#skills {
  border-radius: var(--brm);
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */




  grid-template-columns: repeat(3, 1fr);

  /* grid-template-columns: repeat(3, 1fr); */
  justify-items: center;
  gap: 1em;

  .item {
    display: grid;
    padding-top: 1em;
    justify-content: center;
    width: 100%;
    background: var(--xgg);
    backdrop-filter: blur(var(--blur));
    border-radius: var(--brl);

    & ul.keywords {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      gap: 4px;
      height: max-content;
      justify-content: center;
      justify-items: center;

      & li {
        display: block;
        width: max-content;
      }
    }

  }

  .item:last-child {
    grid-column: auto / span 2;
  }
}

div.summary {
  padding: 2px 0px;
  border-radius: var(--brm);
  backdrop-filter: blur(var(--blur));
}

ul.keywords>li {
  backdrop-filter: blur(var(--blur));
}

section#languages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 1em;

  .display {
    width: 50mm;
    padding: 10px;
    background-color: var(--xgg);
    border-radius: var(--brx);
    backdrop-filter: blur(var(--blur));
  }

  .item>.fluency {

    em {
      opacity: .7;
    }
  }

  section.language {
    display: grid;
    grid-auto-flow: column;

    gap: 8px;
    align-items: center;
    justify-content: start;

    h3 {
      padding: 4px 8px;
      border-radius: var(--brm);
      background-color: var(--xgg);
      backdrop-filter: blur(var(--blur));
    }

    >span {
      padding: 4px;
      border-radius: var(--brm);
      background-color: var(--xgg);
      backdrop-filter: blur(var(--blur));

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

section#interests {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 1em;
  margin-bottom: 3em;

  .item {
    h4 {
      font-size: 14px;
      font-family: KR-B;
      width: max-content;
      padding: 8px;
      color: var(--f2);
    }

    width: 50mm;
    padding: 10px;
    background-color: var(--xgg);
    border-radius: var(--brx);
    backdrop-filter: blur(var(--blur));
  }

  ul.keywords {
    display: grid;
    row-gap: 4px;
    column-gap: 8px;
    justify-items: center;

    li {
      width: 80%;
      background-color: var(--xgg);
      font-size: 12px;
      padding: 6px 8px;

      &>span {
        color: var(--f4);
      }
    }
  }
}

.section-title {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 10px;
  padding: .4em .6em;
  color: var(--iz);
  text-transform: uppercase;
  font-weight: 900;
  border: none;
  font-size: 2rem;
  backdrop-filter: blur(var(--blur));
  border-radius: var(--brm);
  width: max-content;

  span.icon {
    color: var(--pk7);
    width: 40px;
    height: 40px;
    opacity: 0.8;
  }
}

.section>header {
  position: relative;
}

.section>section>header {
  font-size: 1.38rem;
  position: relative;
  margin-top: 0.7em;
}

.section>section>header:first-of-type {
  margin: 0;
}

.section>section>header .space-left {
  position: absolute;
  left: -1.56rem;
  top: 5px;
  color: #aaa;
  line-height: 1;
  opacity: 0;
}

.position,
.company,
.organization,
.institution,
.date,
.area,
.studyType,
.title,
.awarder {
  display: inline;
}

.position,
.studyType,
.area,
.title,
.language,
.name {
  font-weight: 900;
  font-size: 1.4em;
}

.company::before,
.institution::before,
.organization::before,
.awarder::before {
  content: "at ";
  color: var(--f3);
  font-style: italic;
}

.company,
.institution,
.organization,
.awarder {
  color: var(--c07);
  font-weight: 400;
}

.section header .date {
  display: block;
  font-size: 1rem;
  padding: 0.1em 0;
  color: var(--f4);
  font-weight: 400;
}

.keywords,
.courses {
  margin: 0.5em 0;
}

.keywords li,
.courses li {
  display: inline-block;
  margin: 2px 2px 2px 0;
  padding: 6px;
  font-size: 0.9rem;
  line-height: 1;
  color: var(--f2);
  border-radius: var(--brs);
  background-color: var(--xgg);
  border: 0 solid var(--cy2);
}

span.url:hover,
.keywords li:hover,
.courses li:hover {
  background: var(--cy2);
}

.highlights {
  margin: 1em 0 0 0;
  border-radius: var(--brl);
  width: auto;
  backdrop-filter: blur(var(--blur));
}

.highlights>li>p {
  margin-bottom: 0.5em;
}

.item {
  overflow: hidden;
}

.gpa {
  clear: both;
  padding-bottom: 0.5em;
}

#languages .item,
.level {
  margin-bottom: 0.5em;
}

.level em {
  border-radius: var(--brm);
  backdrop-filter: blur(var(--blur));
  padding: .2em 1em;
}

.level .bar {
  width: 40mm !important;
  background-color: var(--f5);
  border-radius: var(--brs);
  display: block;
  margin: 0 8px;
  height: 10px;
  position: relative;
}

.level .bar::after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  background: black;
  height: 10px;
}

.level.beginner .bar::after {
  border-radius: var(--brs);
  background: linear-gradient(90deg, var(--cc6), var(--pk7));
  width: 25%;
}

.level.intermediate .bar::after {
  border-radius: var(--brs);
  background: linear-gradient(90deg, var(--cc6), var(--pk9));
  width: 55%;
}

.level.advanced .bar::after,
.level.fluent .bar::after {
  background: var(--ic);
  background: linear-gradient(90deg, var(--cc6), var(--cc5));
  border-radius: var(--brs);
  width: 75%;
}

.level.master .bar::after,
.level.native.speaker .bar::after {
  background: linear-gradient(90deg, var(--cc6), var(--cx5));
  border-radius: var(--brs);
  width: 100%;
}

#references {
  padding: 4px 8px;
  border-radius: var(--brm);
  backdrop-filter: blur(var(--blur));

  &::before {
    content: '';
    position: absolute;
    border-radius: var(--brm);
    background: linear-gradient(var(--pk6), var(--wk4));
    width: 6px;
    height: 3em;
  }

  blockquote {
    font-weight: 400;
  }

  & .item {
    padding-left: 1em;
    border-radius: var(--brm);

    & .name {
      color: var(--cy5);
      font-weight: 200;
      font-size: 14px;
      font-style: italic;
    }

    /* margin-left: 22px; */
  }
}

.section>section>section {
  margin-bottom: 1rem;
}

.clear::after {
  content: "";
  display: table;
  clear: both;
}

.display {
  display: block;
  opacity: 1 !important;
}


section>header {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;

  & .date {
    backdrop-filter: blur(var(--blur));
    border-radius: var(--brm);
    place-self: end;
    margin-right: 1em;
    width: max-content;
  }

  >.position {

    width: max-content;
    padding: 2px 8px;
    backdrop-filter: blur(var(--blur));
    border-radius: var(--brm);
  }
}

header.project-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  align-content: center;

  & section {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;

    svg {
      width: max-content;
    }
  }

  & .date {
    place-self: end;
    margin: 8px;
    width: max-content;
    padding: 2px 8px;
    backdrop-filter: blur(var(--blur));
    border-radius: var(--brm);
  }
}


span.url {
  padding: 2px 10px 2px 6px;
  margin: 6px;
  height: max-content;
  display: inline-grid;
  grid-auto-flow: column;
  gap: 5px;
  font-size: 15px;
  backdrop-filter: blur(var(--blur));
  background-color: var(--xgg);
  border-radius: var(--brs);
  max-width: 210mm;

  & svg {
    fill: var(--ic);
    background-color: var(--xgg);
    border-radius: var(--brs);
  }
}


section.education-item {
  border-radius: 2em;
  backdrop-filter: blur(var(--blur));
  border-radius: var(--brm);
}

svg.hr {
  display: block;
  height: 40px;
  margin: 0 auto;

  & line {
    stroke: var(--pk6);
  }

  & rect {
    shape-rendering: crispEdges;
  }

  padding: 3px;
}

.item-count {
  color: var(--f5);
  font-style: italic;
  font-size: .6em;
  vertical-align: top;
}

blockquote {
  color: var(--ic);
}


ul.keywords {
  &>li {
    display: inline-grid;
    grid-auto-flow: column;
    gap: 8px;
    align-items: center;
    background-color: var(--xgg);
    backdrop-filter: blur(var(--blur));
    border-radius: var(--brm);
    width: max-content;
    font-size: 12px;
    list-style: none;
    padding: 4px 8px;

    &>span.icon {
      color: var(--f4);
    }

    &>span {
      color: var(--f2);
    }
  }
}
