html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* body { padding: 0 3em; margin: 0; } */

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body::-webkit-scrollbar {
  display: none;
}


body,
html {
  font-family: 'Monaspace Krypton', monospace, sans-serif;
  width: 210mm;
  max-width: 210mm;
  font-weight: Bold;
  font-size: 14px;
  color: var(--wk4);
  letter-spacing: 0;
  line-height: 1.46153846;
  text-align: left;
  background-image: url("/src/assets/bg.png");
  background-color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  display: block;
}

a {
  color: var(--c04);
  text-decoration: none;
}

a:hover {
  color: var(--cx4);
  text-decoration: underline;
}

span.icon {
  width: 20px;
  height: 20px;
  opacity: 0.8;
}

li {
  list-style-type: square;
  list-style-position: outside;
  margin-left: 1.3em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.67rem;
  word-break: keep-all;
  margin-top: 0em !important;
}

h3 {
  font-size: 1rem;
}

em {
  color: var(--c05);
}

blockquote {
  margin-bottom: 1em;
}

strong {
  font-weight: 700;
}

#resume {
  padding: 1.5rem;
}

.section {
  margin-bottom: 1rem;
}

#profiles .item {
  padding: 0;
}

#header>#profiles,
#header>#contact,
#skills,
#languages,
#interests {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

#header h1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  color: var(--c05);
  align-items: center;
  font-size: 3.8rem;
  font-weight: 900;
  margin-bottom: .6em;
  padding-left: 1em;
  -webkit-text-stroke: 1px var(--c05);
  text-shadow:
    var(--zk3) 2px 1px,
    var(--zk5) 4px 3px,
    var(--zk7) 6px 5px,
    var(--zk9) 8px 7px;
}

#header .image {
  width: 2em;
  outline: solid 10px var(--xbg);
  outline-offset: -2px;
  border-radius: 4rem;
  justify-self: end;
  opacity: .8;
}

#header .label {
  background-color: var(--xog);
  backdrop-filter: blur(var(--blur));
  border-radius: 2em;
  margin: 2em 1em;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2em;
  justify-items: middle;
  align-items: center;

  & img {
    border: solid 10px var(--xgg);
    border-radius: 2em;
    height: 140px;
    width: 140px;
    opacity: .8;
  }
}

#header {

  #contact,
  #profiles {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
  }

  color: var(--wk6);

  a {
    color: var(--wk6);
  }

  a,
  a:hover {
    text-decoration: none;
  }

  span.icon {
    color: var(--pk7);
  }

  .username {
    width: max-content;
  }

  .location.username {
    width: 100%;
    display: grid;
    justify-content: center;
  }
}

section.contacts span.url {
  height: 2em;
  align-items: center;
  margin: 4px;
}

section.main-summary {
  font-size: 12px;
  letter-spacing: -.2px;
  padding: 2em 1em;
  margin-bottom: 2em;
  background: var(--xgg);
  border-radius: var(--brl);
  backdrop-filter: blur(var(--blur));
  color: var(--wk5);

  >ul>li {
    list-style: none;
    width: max-content;

    &:before {
      content: '―';

    }
  }
}

section#skills {
  border-radius: var(--brm);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 2em;

  .item {
    display: grid;
    padding: 20px;
    justify-content: center;
    height: max-content;
    width: 300px;
    background: var(--xgg);
    backdrop-filter: blur(var(--blur));
    border-radius: var(--brl);

    & ul.keywords {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 8px;
      justify-content: center;
      justify-items: center;

      & li {
        display: block;
        width: max-content;
      }
    }

  }

  .item:last-child {
    width: 499px;
    grid-column: 1/3;

    & ul.keywords {
      grid-auto-flow: column;
    }
  }
}

div.summary {
  padding: 2px 0px;
  border-radius: var(--brm);
  backdrop-filter: blur(var(--blur));
}

ul.keywords>li {
  backdrop-filter: blur(var(--blur));
}

section.language {
  display: grid;
  grid-auto-flow: column;

  gap: 8px;
  align-items: center;
  justify-content: start;

  h3 {
    font-weight: 900;
    color: var(--cc5);
    padding: 4px 8px;
    border-radius: var(--brm);
    background-color: var(--xgg);
    backdrop-filter: blur(var(--blur));
  }

  >span {
    padding: 4px;
    border-radius: var(--brm);
    background-color: var(--xgg);
    backdrop-filter: blur(var(--blur));

    img {
      width: 20px;
      height: 20px;
    }
  }
}

.section-title {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 10px;
  /* height: 3em; */
  padding: .4em .6em;
  color: var(--pk8);
  text-transform: uppercase;
  font-weight: 900;
  border: none;
  font-size: 2rem;
  backdrop-filter: blur(var(--blur));
  border-radius: var(--brm);
  width: max-content;

  span.icon {
    color: var(--pk7);
    width: 40px;
    height: 40px;
    opacity: 0.8;
  }
}

.section>header {
  position: relative;
}

.section>section>header {
  font-size: 1.38rem;
  position: relative;
  margin-top: 0.7em;
}

.section>section>header:first-of-type {
  margin: 0;
}

.section>section>header .space-left {
  position: absolute;
  left: -1.56rem;
  top: 5px;
  color: #aaa;
  line-height: 1;
  opacity: 0;
}

.position,
.company,
.organization,
.institution,
.date,
.area,
.studyType,
.title,
.awarder {
  display: inline;
}

.position,
.studyType,
.area,
.title,
.language,
.name {
  font-weight: 900;
  font-size: 1.4em;
  color: var(--wk5);
}

.company::before,
.institution::before,
.organization::before,
.awarder::before {
  content: "at ";
  color: var(--wk7);
  font-style: italic;
}

.company,
.institution,
.organization,
.awarder {
  color: var(--c07);
  font-weight: 400;
}

.section header .date {
  display: block;
  font-size: 1rem;
  padding: 0.1em 0;
  color: var(--wk8);
  font-weight: 400;
}

.keywords,
.courses {
  margin: 0.5em 0;
}

.keywords li,
.courses li {
  display: inline-block;
  margin: 2px 2px 2px 0;
  padding: 6px;
  font-size: 0.9rem;
  line-height: 1;
  color: var(--wk7);
  border-radius: var(--brs);
  background-color: var(--xgg);
  border: 0 solid var(--cy2);
}

span.url:hover,
.keywords li:hover,
.courses li:hover {
  background: var(--cy2);
  color: var(--wk5);
}

.highlights {
  margin: 1em 0 0 0;
  border-radius: var(--brl);
  backdrop-filter: blur(var(--blur));
}

.highlights>li>p {
  margin-bottom: 0.5em;
}

.item {
  overflow: hidden;
}

.gpa {
  clear: both;
  padding-bottom: 0.5em;
}


#languages .item,
#skills .item,
#interests .item {
  margin: auto;
  width: 15em;
  padding: 0 0.5em 0.5em 0;
  border-bottom: none;
}

#skills .item {
  width: 16em;
}

#skills .item .keywords {
  width: 15em;
}

.item {
  color: var(--wk5);
}

.level {
  margin-bottom: 0.5em;
}

.level em {
  border-radius: var(--brm);
  backdrop-filter: blur(var(--blur));
  padding: .2em 1em;
}

.level .bar {
  border-radius: 8px;
  display: block;
  width: 80%;
  height: 10px;
  position: relative;
}

.level .bar::after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  background: black;
  height: 10px;
}

.level.beginner .bar::after {
  border-radius: var(--brs);
  background: linear-gradient(90deg, var(--pk6), var(--pk7));
  width: 2.5em;
}

.level.intermediate .bar::after {
  border-radius: var(--brs);
  background: linear-gradient(90deg, var(--pk6), var(--pk8));
  width: 5em;
}

.level.advanced .bar::after,
.level.fluent .bar::after {
  background: var(--c05);
  background: linear-gradient(90deg, var(--pk6), var(--c05));
  border-radius: var(--brs);
  width: 75%;
}

.level.master .bar::after,
.level.native.speaker .bar::after {
  background: linear-gradient(90deg, var(--pk6), var(--cz5));
  border-radius: var(--brs);
  width: 100%;
}

#references {
  padding: 4px 8px;
  border-radius: var(--brm);
  backdrop-filter: blur(var(--blur));

  &::before {
    content: '';
    position: absolute;
    border-radius: var(--brm);
    background: linear-gradient(var(--pk6), var(--wk4));
    width: 6px;
    height: 3em;
  }

  blockquote {
    font-weight: 400;
  }

  & .item {
    padding-left: 1em;
    /* border-left: 5px solid var(--cx4); */
    border-radius: var(--brm);

    & .name {
      color: var(--cy5);
      font-weight: 200;
      font-size: 14px;
      font-style: italic;
    }

    /* margin-left: 22px; */
  }
}

.section>section>section {
  margin-bottom: 1rem;
}

.clear::after {
  content: "";
  display: table;
  clear: both;
}

.display {
  display: block;
  opacity: 1 !important;
}


section>header {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;

  & .date {
    backdrop-filter: blur(var(--blur));
    border-radius: var(--brm);
    place-self: end;
    margin-right: 1em;
    width: max-content;
  }

  >.position {

    width: max-content;
    padding: 2px 8px;
    backdrop-filter: blur(var(--blur));
    border-radius: var(--brm);
  }
}

header.project-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  align-content: center;

  & section {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;

    svg {
      width: max-content;
    }
  }

  & .date {
    place-self: end;
    margin: 8px;
    width: max-content;
    padding: 2px 8px;
    backdrop-filter: blur(var(--blur));
    border-radius: var(--brm);
  }
}

span.fa-solid.fa-up-right-from-square {
  color: var(--wk5);
}

a,
a:visited {
  color: var(--cc4);
}

span.url {
  padding: 2px 10px 2px 6px;
  margin: 6px;
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
  font-size: 15px;
  backdrop-filter: blur(var(--blur));
  background-color: var(--xgg);
  border-radius: var(--brs);
  width: max-content;

  & svg {
    fill: var(--c05);
    background-color: var(--xgg);
    border-radius: var(--brs);
  }
}


section.education-item {
  border-radius: 2em;
  backdrop-filter: blur(var(--blur));
  border-radius: var(--brm);
}

svg.hr {
  display: block;
  height: 40px;
  margin: 0 auto;

  & line {
    stroke: var(--pk6);
  }

  & rect {
    shape-rendering: crispEdges;
  }

  padding: 3px;
}

.item-count {
  color: var(--wk9);
  font-style: italic;
  font-size: .6em;
  vertical-align: top;
}

blockquote {
  color: var(--c05);
}


ul.keywords {
  &>li {
    display: inline-grid;
    grid-auto-flow: column;
    gap: 8px;
    align-items: center;
    background-color: var(--xgg);
    backdrop-filter: blur(var(--blur));
    border-radius: var(--brm);
    width: max-content;
    font-size: 12px;
    list-style: none;
    padding: 4px 8px;

    &>span.icon {
      color: var(--wk6);
    }

    &>span {
      color: var(--wk6);
    }
  }
}

section#interests ul.keywords li {
  font-size: 12px;
}

section.main-summary,
section.project-item,
section.work-item,
.no-break-inside {
  page-break-inside: avoid;
}

.auto-break-before {
  page-break-before: auto;
}

.auto-break-after {
  page-break-after: auto;
}

.no-break-before {
  page-break-before: avoid;
}

.no-break-after {
  page-break-after: avoid;
}


h1,
h2,
h3,
h4,
h5,
h6,
header,
ul.keywords li,
span.url,
a {
  font-family: 'Monaspace Krypton', monospace, sans-serif;
}

blockquote {
  font-family: 'Monaspace Radon', serif;
}

section {
  font-family: 'Monaspace Argon', system-ui, sans-serif;
}

@page {
  size: 210mm 297mm;
  margin: 0;
}
