@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brx: 18px;
  --brl: 14px;
  --brm: 10px;
  --brs: 6px;
  --blur: 8px;

  --bg: white;
  --fg: var(--wk5);
  --f2: var(--wk6);
  --f3: var(--wk7);
  --f4: var(--wk8);
  --f5: var(--wk9);
  --ic: var(--c05);
  --ix: var(--c05);
  --iz: var(--c13);
}

/* fonts from monaspace.githubnext.com */

@font-face {
  font-family: KR-B;
  src: url("/src/assets/fonts/MonaspaceKrypton-SemiWideBold.woff") format('woff');
}

@font-face {
  font-family: KR-X;
  src: url("/src/assets/fonts/MonaspaceKrypton-SemiWideExtraBold.woff") format('woff');
}

@font-face {
  font-family: KR-M;
  src: url("/src/assets/fonts/MonaspaceKrypton-Medium.woff") format('woff');
}

@font-face {
  font-family: AR-B;
  src: url("/src/assets/fonts/MonaspaceArgon-Bold.woff") format('woff');
}

@font-face {
  font-family: AR-M;
  src: url("/src/assets/fonts/MonaspaceArgon-Medium.woff") format('woff');
}

@font-face {
  font-family: RN-M;
  src: url("/src/assets/fonts/MonaspaceRadon-Medium.woff") format('woff');
}

@font-face {
  font-family: RN-I;
  src: url("/src/assets/fonts/MonaspaceRadon-MediumItalic.woff") format('woff');
}

html {
  background-color: var(--bg);
}

* {
  transition: all .4s linear;
}

body {
  display: grid;
  justify-content: center;
  background-image: url("/src/assets/bg.png");
  background-position: 60%;
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  padding: 3em;
  width: 210mm;
  background-color: var(--xgg);
}

html.dark {

  --bg: var(--wk0);
  --fg: var(--wk9);
  --f2: var(--c03);
  --f3: var(--cy4);
  --f4: var(--c06);
  --f5: var(--xgg);
  --ic: var(--cy4);
  --ix: var(--pk2);
  --iz: var(--pk1);

  #scheme-toggle {
    --fg: var(--cy3);
    --bg: var(--c01);
  }
}

div.line-pattern {
  height: 16px;
  display: block;
  position: relative;
  margin: 1em 0;
  width: 100%;
  background-image: url("/src/assets/line.svg");
  background-size: 30px 26px;
  background-repeat: space;
  opacity: .1;

  &.md {
    height: 20px;
    background-size: 40px 30px;
  }

  &.lg {
    height: 30px;
    background-size: 61px 51px;
  }
}

section.main-summary,
section.project-item,
section.work-item,
.no-break-inside {
  page-break-inside: avoid;
}

.auto-break-before {
  page-break-before: auto;
}

.auto-break-after {
  page-break-after: auto;
}

.no-break-before {
  page-break-before: avoid;
}

.no-break-after {
  page-break-after: avoid;
}


h1 {
  font-family: KR-X, monospace;
}

h2,
h3,
h4,
h5,
h6,
header {
  font-family: KR-B, monospace;
}

ul.keywords li,
span.url,
a {
  font-family: KR-M, monospace;
}

em {
  font-family: RN-M, serif;
}

blockquote {
  font-family: RN-I, serif;
}

section {
  font-family: AR-M, system-ui, sans-serif;
}


#scheme-toggle {
  --fg: var(--cc6);
  --bg: var(--wk4);

  &button {
    z-index: 1;
    display: grid;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background: blue;
    border-radius: 42%;
    outline: solid 12px var(--xgg);
    background-color: var(--bg);
    box-shadow: 0 0 40px 10px var(--fg);
    outline-offset: -12px;
    opacity: .8;
    border: solid 6px var(--fg);

    &:hover {
      opacity: 1;
      box-shadow: 0 0 30px 10px var(--fg);
    }

    &>span {
      color: var(--fg);
      width: 26px;
      height: 26px;
    }
  }

  .hidden {
    display: none;
  }
}

@media (max-width: 600px) {

  html,
  body,
  main {
    width: 100vw !important;
    overflow-x: hidden;
  }

  main {
    padding: 2em !important;
  }

  section.main-summary {
    width: 80vw !important;
  }

  section#skills {
    .item {
      justify-items: center !important;
    }

    .item:last-child {
      grid-column: auto !important;
    }
  }

  body,
  section>header,
  article#header #contact,
  article#header #profiles,
  article#header>.label,
  section#skills,
  section#languages,
  section#interests {
    grid-template-columns: 1fr !important;
  }

  .section-title,
  .position {
    width: 80vw !important;
  }

  .location>span.url {
    grid-auto-flow: row;
  }

  #header>h1.name {
    padding: 0;
  }
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  #scheme-toggle * {
    display: none;
  }
}
