:root {
  --hue: 0;
  --sat: 2%;
  
  --primary: hsl(var(--hue) var(--sat) 45%);
  --primary-light: hsl(var(--hue) var(--sat) 75%);
  --primary-dark: hsl(var(--hue) var(--sat) 22%);

  --secondary: hsl(calc(var(--hue) + 12) var(--sat) 42%);
  --secondary-light: hsl(calc(var(--hue) + 12) var(--sat) 82%);

  --accent: hsl(calc(var(--hue) - 20) var(--sat) 45%);
  --accent-light: hsl(calc(var(--hue) - 20) var(--sat) 85%);
  --accent-dark: hsl(calc(var(--hue) - 20) var(--sat) 25%);

  --bg-light: hsl(var(--hue) 10% 96%);
  --bg-dark: hsl(var(--hue) 10% 10%);
  
  --text-light: hsl(var(--hue) 40% 30%);
  --text-dark: hsl(var(--hue) 40% 70%);
  
  --overlay-light: hsl(var(--hue) var(--sat) 90% / 40%);
  --overlay-dark: hsl(var(--hue) var(--sat) 10% / 40%);

  --radius-lg: 14px;
  --radius-md: 10px;
  --radius-sm: 6px;

  --blur: 8px;

  --bg: var(--bg-light);
  --fg: var(--text-light);

  --icon: var(--primary);
  --title: var(--primary-dark);

  --gradient-light: hsl(var(--hue) 10% 85%);
  --gradient-dark: hsl(var(--hue) 10% 75%);

  --hover: var(--secondary-light);

  --card-hover: var(--accent-light);

  --glass: var(--overlay-light);

  --work-card: linear-gradient(135deg,
    var(--accent-light),
    var(--bg));
  --proj-card: linear-gradient(135deg, 
    var(--gradient-light),
    var(--bg));

  color-scheme: light !important;
}

@media not print {
  html.dark {
    --bg: var(--bg-dark);
    --fg: var(--text-dark);
    --icon: var(--primary-light);
    --accent: var(--accent-light);
    --title: var(--primary);
    --gradient-light: var(--primary-light);
    --gradient-dark: var(--primary);
    --hover: var(--secondary-light);
    --card-hover: var(--accent-light);
    --glass: var(--overlay-dark);
    --work-card: linear-gradient(135deg, hsl(var(--hue) calc(var(--sat) + 20%) 20% / 0.5), hsl(var(--hue) calc(var(--sat) + 20%) 5% / 0.2));
    --proj-card: linear-gradient(135deg, hsl(calc(var(--hue) - 40) calc(var(--sat) + 20%) 20% / 0.5), hsl(calc(var(--hue) - 40) calc(var(--sat) + 20%) 5% / 0.2));
  }

  html.dark #scheme-toggle {
    --fg: var(--accent);
    --bg: var(--primary-dark);
  }
}

/* @media print, */
/* (width: 780px) { */
/*   :root { */
/*     --bg: white !important; */
/*     --fg: var(--text-light) !important; */
/*     --icon: var(--primary-dark) !important; */
/*     --accent: var(--accent-dark) !important; */
/*     --title: var(--primary-dark) !important; */
/*     --glass: var(--overlay-light) !important; */
/*   } */
/* } */
