{{> components/hr.hbs size="lg" }}
{{#basics}}
{{#if url}}
  <footer>
    <div class="username">
      <span class="url">
        <span class="icon {{ URL_ICO url }}"></span>
        <a class="hide-href-print" target="_blank" href="{{ url }}">{{ URL_SEMI url }}</a>
        <span class="icon {{ ICO 'heart' }}"></span>
      </span>
    </div>
  </footer>
{{/if}}
{{/basics}}
