<div class="line-pattern {{ size }}"></div>
<!-- {{#if foo}} i{{ else }}o {{/if}} -->
<!-- <svg class="hr" -->
<!--      xmlns="http://www.w3.org/2000/svg" -->
<!--      height="30" -->
<!--      width="100%"> -->
<!--   <pattern id="pattern_EZHWn" -->
<!--     patternUnits="userSpaceOnUse" -->
<!--     width="20" -->
<!--     height="20" -->
<!--     patternTransform="rotate(25)" -->
<!--     preserveAspectRatio="xMidYMid slice" -->
<!---->
<!--     > -->
<!--     <line -->
<!--       x1="0" -->
<!--       y1="0" -->
<!--       x2="0" -->
<!--       y2="30" -->
<!--       stroke-width="20" /> -->
<!--   </pattern> -->
<!-- <rect shape-rendering="crispEdges" -->
<!-- x="0" -->
<!-- y="0" -->
<!--   width="100%" -->
<!--   height="100%" -->
<!--   fill="url(#pattern_EZHWn)" -->
<!--   :opacity="1" /> -->
<!--   </svg> -->
