{{> components/hr.hbs size="md" etc="no-break-after" }}
{{#if interests.length}}
  <section class="section no-break-inside no-break-after">
    <header>
      <h2 class='section-title' class='section-title'>
        <span class="icon {{ ICO "interest" }}"></span>
        Interests
      </h2>
    </header>
    <section id="interests">
      {{#each interests}}
        <div class="item">
          {{#if name}}
            <h3>{{ name }}</h3>
          {{/if}}
          {{#if keywords.length}}
            <ul class="keywords">
              {{#each keywords}}
                <li>{{.}}</li>
              {{/each}}
            </ul>
          {{/if}}
          {{#if summary}}
            <div class="summary">{{ summary }}</div>
          {{/if}}
        </div>
      {{/each}}
    </section>
    {{> components/hr.hbs size="md" etc="no-break-before no-break-after" }}
  </section>
{{/if}}
