<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="Legacy">
    <meta property="og:url"
          content="https://metaory.github.io/jsonresume-theme-legacy">
    <meta property="og:image"
          content="https://raw.githubusercontent.com/metaory/jsonresume-theme-legacy/master/.github/assets/screenshot.png">
    <meta property="og:description" content="Just another JSONResume theme">
    <meta type="copyright" content="MIT" />
    <meta type="author" content="metaory" />
    <title>Legacy</title>
    <link rel="icon"
          href="/src/assets/logo.svg"
          sizes="any"
          type="image/svg+xml">
    <link rel="stylesheet" href="/src/styles/main.css">
    <link rel="stylesheet" href="/src/styles/legacy.css">
  </head>
  <body>
    <main>
      {{> components/basics.hbs }}
      {{> components/skills.hbs }}
      {{> components/languages.hbs }}
      {{> components/interests.hbs }}
      {{> components/work.hbs }}
      {{> components/projects.hbs }}
      {{> components/volunteer.hbs }}
      {{> components/education.hbs }}
      {{> components/awards.hbs }}
      {{> components/certificates.hbs }}
      {{> components/publications.hbs }}
      {{> components/references.hbs }}
    </main>
  </body>
</html>
