<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/src/styles/main.css">
    <link rel="stylesheet" href="/src/styles/legacy.css">
  </head>
  <body>
    <main>
      <h1>{{ title }}</h1>
      {{> components/basics.hbs }}
      {{> components/skills.hbs }}
      {{> components/languages.hbs }}
      {{> components/interests.hbs }}
      {{> components/work.hbs }}
      {{> components/projects.hbs }}
      {{> components/volunteer.hbs }}
      {{> components/education.hbs }}
      {{> components/awards.hbs }}
      {{> components/certificates.hbs }}
      {{> components/publications.hbs }}
      {{> components/references.hbs }}
      <!-- <img src="/src/assets/logo.png" style="margin-top: 1.5rem"> -->
    </main>
  </body>
</html>
